* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: rgb(27, 27, 27);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#loading-container {
  display: block;

  width: 100%;
  height: 100vh;
}

.inner-container {
  position: relative;
  z-index: 20;
  top: 50%;

  height: auto;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 0 auto;
  background-color: azure;
  padding: 15px;

  border: 3px solid black;

  font-size: 2rem;
}

.circleloader {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  margin-top: -10px;
  border-radius: 16px;
  width: 80px;
  height: 20px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.4);
}
